.card {
  background-color: #3b3b3b;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.card-img {
  width: 200px;
  height: 200px;
  transition: 1s all;  
}

.card-img:hover {
  transform: scale(1.2);
}

.card-img img {
  width: 100%;
  height: 100%;
}

.card-info {  
  text-align: center;
  padding: 30px 8px;
}

.card-info h2 {
  font-size: 18px;
}
